<div class="container">
  <div class="loginform">
    <h1>Template Driven Form Demo</h1>
    <div class="alert alert-danger" *ngIf="formError">{{ formError }}</div>
    <form (ngSubmit)="submitMyData(ngForm)" #ngForm="ngForm">
      <br/>
      <div class="form-group">
        <label>Username</label>
        <input class="form-control" [(ngModel)]="formModel.username" type="text" #username="ngModel" id="username" name="username" required minlength="6" maxlength="25" />
        <!-- Show the error message over here -->
        <div *ngIf="username.invalid && (username.dirty || username.touched)">
          <div class="text-danger" *ngIf="username.errors?.required">Username is required</div>
          <div class="text-danger" *ngIf="username.errors?.minlength">Username must contain minimum 6 characters</div>
          <div class="text-danger" *ngIf="username.errors?.maxlength">Username must contain less than 25 characters</div>
        </div>
      </div>
      <br/>
      <div class="form-group">
        <label>Email</label>
        <input class="form-control" [(ngModel)]="formModel.email" type="email" #email="ngModel" id="email" name="email" required />
        <!-- Show the error message over here -->
        <div *ngIf="email.invalid && (email.dirty || email.touched)">
          <div class="text-danger" *ngIf="email.errors?.required">Email is required</div>
        </div>
      </div>
      <br/>
      <div class="form-group">
        <label>Password</label>
        <input class="form-control" [(ngModel)]="formModel.password" type="password" #password="ngModel" id="password" name="password" required/>
        <!-- Show the error message over here -->
        <div *ngIf="password.invalid && (password.dirty || password.touched)">
          <div class="text-danger" *ngIf="password.errors?.required">Password is required</div>
        </div>
      </div>
      <br/>
      <br/>
      <button class="btn btn-primary" type="sumit" [disabled]="!ngForm.form.valid">Submit</button>
      <button class="btn btn-default" type="reset">Reset</button>
    </form>
  </div>
</div>